body{
    background-color: antiquewhite;
}

h2{
    text-align: center;
}

th {
    text-align: center;
}

.center {

}
form {
    text-align: center;
    font-family: 'Microsoft JhengHei UI';
}

input{
    text-align: center;
}

input[type=file] {
    margin: 0 auto;
    font-family: 'Microsoft JhengHei UI';
    text-align: center;
}
