body {
    background-image: url('~/Content/fondo.jpg');
}

#Nomb {
    color:white;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: block;

}

#Fondo {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color:white;
  
    
}

.Negro{
    color: white;
}

.Negro2 {
    color: white;
    font-size: 21px;
    margin-bottom: 20px;
    font-size: 16.099999999999998px;
    font-weight: 200;
    line-height: 1.4;
}
#useless {
    color: white;
}
