
@{
    ViewBag.Title = "Error operacion";
}

<link rel="stylesheet" href="~/Content/ABMPerso.css">

<h2>Error</h2>

No se pudo completar la operación

@Html.ActionLink("Volver", (string)ViewBag.Link, "Backoffice")