
@{
    ViewBag.Title = "ErrorOp";
}

<link rel="stylesheet" href="~/Content/AdminPers.css">

<h2>Error</h2>

No se pudo completar la operación

@Html.ActionLink("Volver", "ABMPersonajes", "Backoffice")