
@{
    ViewBag.Title = "Exito operacion";
}
@Request.Params["x"]

<link rel="stylesheet" href="~/Content/ABMPerso.css">

<h2>Exito</h2>

Operación exitosa

@Html.ActionLink("Volver", (string)ViewBag.View, "Backoffice")