@using QEQB05.Models
@model Personaje
@{
    ViewBag.Title = "Cargar respuestas";
}

<link rel="stylesheet" href="~/Content/ABMPerso.css">

<h2>Cargar respuestas</h2>

@using (Html.BeginForm("OperacionesRespuestas2", "Backoffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Elija todas las preguntas cuya respuesta sea SÍ</p>
    <br />@Html.Label(Model.Nombre)<br />
    <img class="imgFormP" src="@ViewBag.AuxFoto" alt="Personaje" /><br />

    foreach (Pregunta P in ViewBag.ListaTodasPregs)
    {
        bool v = false;
        foreach (Pregunta p in ViewBag.ListaPregPers)
        {
            if (P.IdPreg == p.IdPreg)
            {
                v = true;
                @Html.Label(p.TextoPreg)
                <input type="checkbox" name="Box" value=@p.IdPreg checked="checked"><br />
            }
        }
        if (v == false)
        {
            @Html.Label(P.TextoPreg)
            <input type="checkbox" name="Box" value=@P.IdPreg><br />
        }
    }
    <input type="hidden" name="Id" value=@Model.Id />
    <br /><input type="submit" value=Finalizar />
}
