<link rel="stylesheet" href="~/Content/CargResp.css">

@if (ViewBag.val == true)
{
    {
        ViewBag.Title = "Exito";
    }

    <h2>Operación exitosa</h2>

    @Html.ActionLink("Volver", "ABMPersonajes", "Backoffice")
}
else
{
    {
        ViewBag.Title = "Sin cambios";
    }

    <h2>No se realizó ningún cambio</h2>

    @Html.ActionLink("Volver", "ABMPersonajes", "Backoffice")
}
