
@{
    ViewBag.Title = "ResultadoOp";
}


<link rel="stylesheet" href="~/Content/ABMPerso.css">
<p>la operacion se realizo de manera @ViewBag.Estado</p>

@Html.ActionLink("Volver", "ABMPreguntas", "Backoffice")
