
@{
    ViewBag.Title = "AboutUs";
}

<img src="~/Content/LogoCompania.jpg"  alt="LogoCompania" />
<h1>Creado por Blue Hedgehog company </h1>
<h4>Matias Crabchick</h4>
<h4>Alejo Goltzman</h4>
<h4>Martin Dartayet</h4>
<h4>Igal Pisterman Rozenek</h4>

