
@{
    ViewBag.Title = "AboutUs";
}
<div>
    <div align="right" id="tapa" class="col-md-6">
        <img src="~/Content/LogoCompania.jpg" style="width:400px; height:350px " alt="LogoCompania" s />
    </div>
    <h3>Creadores </h3>
    <h4>Matias Crabchick</h4>
    <h4>Alejo Goltzman</h4>
    <h4>Martin Dartayet</h4>
    <h4>Igal Pisterman Rozenek</h4>

</div>