@using QEQB05.Models
@model CategoríaP
@{
    ViewBag.Title = "ComenzarJuego";
}

<h2>ComenzarJuego</h2>
@using (Html.BeginForm("MostrarTodosPersonajes", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @{ foreach (CategoríaP cate in ViewBag.categorias)
        {
            @Html.RadioButtonFor(x => x.Id, cate.Nombre)
        }
    }<input type="hidden" name="puntaje" value=@ViewBag.puntaje />
    <br /><input type="submit" value=Finalizar />
}
