@using QEQB05.Models
@{
    ViewBag.Title = "ComenzarJuego";
}

<h2>ComenzarJuego</h2>
@using (Html.BeginForm("MostrarTodosPersonajes", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="radio" name="IdC" value="-1" checked="checked"/> @Html.Label("Todos")<br />
    {
        foreach (CategoríaP cate in ViewBag.categorias)
        {
            <input type="radio" name="IdC" value="@cate.Id" /> @Html.Label(cate.Nombre)<br />
        }
    }
    <br /><input type="submit" value=Finalizar />
}
