
@{
    ViewBag.Title = "Ganaste";
}

<h2>¡Ganaste!</h2>

<h3>El personaje elegido es correcto</h3>

<h5>Tu puntaje final es @ViewBag.puntaje</h5>

@Html.ActionLink("Volver a jugar", "ComenzarJuego", "Home")<br />
@Html.ActionLink("Ir a la home", "Index", "Home")
