
@{
    ViewBag.Title = "Ganaste";
}

<h2>¡Ganaste!</h2>

<h3>El personaje elegido es correcto</h3>

@Html.ActionLink("Volver a jugar", "ComenzarJuego", "Home")
@Html.ActionLink("Ir a la home", "Index", "Home")
