
@{
    ViewBag.Title = "Instrucciones";
}

<link rel="stylesheet" href="~/Content/Inst.css">

<div id="textoinst">
<h1>Instrucciones</h1>

<h2>Informacion basica</h2>
<p>
    La maquina seleccionar un personaje de la base de datos y usted tendra que averiguar quien es haciendo distintas preguntas.
</p>
<h2>Puntos y preguntas</h2>
<p>
    Se le dara 1000000 bitcoins, con los cuales podra hacer preguntas y ariesgar a personajes.
    Cada pregunta descontará 10000 bitcoins,Se podrá arriesgar ​en cualquier momento. Al fallar, se descontará 50000 bitcoins​. Si quedan 5 personajes o menos, arriesgar costará la mitad de tu botín disponible.
</p>
<h2>Lista de personajes</h2>
<p>El listado de personajes se mostrará al inicio del juego. Luego quedarán ocultos. Si en la mitad del juego, se desea ver de nuevo la lista de personajes restantes, se descontarán 5000 bitcoins ​por cada vez que se consulte.</p>
</div>