@using QEQB05.Models
@{
    ViewBag.Title = "Jugar";
}

<h2>Jugar</h2>
@using (Html.BeginForm("OperacionesJuego", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    foreach (Pregunta preg in ViewBag.ListaPregs)
    {
        <input type="radio" name="IdC" value="@preg.IdPreg" /> @Html.Label(preg.TextoPreg)<br />
    }
    <input type="hidden" name="puntaje" value=@ViewBag.Puntaje />
    <input type="hidden" name="ListaPers" value=@ViewBag.ListaPers />
    <input type="submit" value="Continuar" />
}
