
@{
    ViewBag.Title = "Login";
}
@model  QEQB05.Models.Usuario

<h2>Login</h2>

@using (Html.BeginForm("CargarDatos", "Home", FormMethod.Post))
{
    if (ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
    <p>Mail:</p>@Html.TextBoxFor(x => x.Mail)@Html.ValidationMessageFor(x => x.Mail) <br />
    <p>Contraseña:</p> @Html.PasswordFor(x => x.Password)@Html.ValidationMessageFor(x => x.Password) <br />
    <input type="submit" value="Enviar" />

}
@Html.ActionLink("Olvidé mi contraseña", "OlvidoContraseña", "Home")