@model  QEQB05.Models.Usuario
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>

@using (Html.BeginForm("RegistrarUsuario", "Home", FormMethod.Post))
{
    <p>Nombre:</p>@Html.TextBoxFor(y => y.Nombre, new { required = "required" })@Html.ValidationMessageFor(y => y.Nombre) <br />
    <p>Mail:</p>@Html.TextBoxFor(y => y.Mail, new { required = "required" })@Html.ValidationMessageFor(y => y.Mail) <br />
    <p>Contraseña:</p> @Html.PasswordFor(y => y.Password, new { required = "required" })@Html.ValidationMessageFor(y => y.Password) <br />
    <input type="submit" value="Registrarse" />

}