@using QEQB05.Models;
@{
    ViewBag.Title = "TodosPersonajes";
    int cont = ViewBag.ListaPersonajes.Count;
    int cont2 = cont;
    bool esImpar = Convert.ToBoolean(cont % 2);
}
<link rel="stylesheet" href="~/Content/ABMPerso.css">

<h2>Lista de todos los personajes</h2>

@using (Html.BeginForm("Jugar", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.ListaPersonajes.Count > 1)
    {
        <table align="center">
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Nombre</th>
            </tr>

            @for (int i = 0; i < cont; i++)
            {
                <tr>
                    <th><img src=@ViewBag.ListaPersonajes[i].UrlDataFoto alt=@ViewBag.ListaPersonajes[i].Nombre height="100" width="100" /></th>
                    <th><label> @ViewBag.ListaPersonajes[i].Nombre </label></th>
                    @if (cont2 != 1)
                    {

                        i++;
                        <th><img src=@ViewBag.ListaPersonajes[i].UrlDataFoto alt=@ViewBag.ListaPersonajes[i].Nombre height="100" width="100" /></th>
                        <th><label> @ViewBag.ListaPersonajes[i].Nombre </label></th>
                        cont2 = cont2 - 2;
                    }
                </tr>
            }
        </table>
        <input type="hidden" name="Accion" value=@ViewBag.Accion />
        <input type="submit" value="Continuar" />
    }
    else
    {
        if (ViewBag.ListaPersonajes.Count == 0)
        {
            <h3>Esta categoría no tiene personajes, elija otra</h3>
            @Html.ActionLink("Volver", "ComenzarJuego", "Home")
        }
        else
        {
        <table align="center">
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
            </tr>
            <tr>
                <th><img src=@ViewBag.ListaPersonajes[0].UrlDataFoto alt=@ViewBag.ListaPersonajes[0].Nombre height="100" width="100" /></th>
                <th><label> @ViewBag.ListaPersonajes[0].Nombre </label></th>
            </tr>
        </table>
        <input type="hidden" name="Accion" value=@ViewBag.Accion />
        <input type="submit" value="Continuar" />
        }
    }
}
